<nav class="navbar navbar-light bg-light justify-content-between">

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLink]="['/import/product']">Import Product</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Import Category</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Product List</a>
  </li>  
</ul>
  
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>