<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/products']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>{{product.name}}</h2></mat-card-title>
      <mat-card-subtitle>{{product.descripton}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>Price:</dt>
        <dd>{{product.purchasePrice}}</dd>
        <dt>categoryID:</dt>
        <dd>{{product.categoryID | date}}</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button color="primary" [routerLink]="['/product-edit', product.zamroID]"><mat-icon>edit</mat-icon></a>
      <a mat-flat-button color="warn" (click)="deleteProduct(product.zamroID)"><mat-icon>delete</mat-icon></a>
    </mat-card-actions>
  </mat-card>
</div>
